* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

/* .border{
  border: 2px dashed black; 
} */
.d-flex{
  display: flex;
}

.container {
  display: flex;
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.btn {
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  text-decoration: none;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 40px;
  padding: 7px 16px;
}

.btn:hover{
  box-shadow:0px 10px 20px 2px black;
}

.btn.big{
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
}

.btn.big.black{
  background-color: black;
  color: white;
}

/* header  */

header{
  height: 80px;
  background-color: #265EE8; 
  justify-content: space-between;
  align-items: center;
}

header .container {
  justify-content: space-between;
  align-items: center;
}

header .logo,
header .login {
  flex-grow: 1;
}

header .menu{
  flex-grow: 2;
}

header .login{
  display: flex;
  flex-direction: row-reverse;
}

header .btn:hover {
  box-shadow:0px 10px 20px 2px #14209b;
  color: #6c76e9;
}

header nav ul{
  list-style: none;
  justify-content: center;
}

header nav ul li{
  padding: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}
/* main  */

main .container {
  padding: 40px;
}

/* jumbotron  */

.jumbotron {
  margin: 0;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  /*height: 400px;  debug */
  padding: 0 20px;
}

main .jumbotron .row {
  width: 70%;
  max-width: 840px;
  margin: 0 auto;
  padding: 10px;
  flex-flow: column wrap;
  align-items: stretch;
  color: white;
}

main .jumbotron .container .col {
  text-align: center;
  padding: 10px 0;
}

main .jumbotron .container .col h1 {
  font-size: 3rem;
  font-weight: bold;
}

.col#link{
  justify-content: center;
  padding: 34px 0;
}

main .jumbotron .container .row .col#link .btn.big.black{
  margin-left: 20px;
}

main .jumbotron .container .row .col .btn.big:hover {
  box-shadow:0px 10px 20px 2px #14209b;
  color: #6c76e9;
}

main .jumbotron .container .row .col .btn.big.black:hover {
  color: white;
}

/* sections  */

main section:nth-of-type(2n + 3) {
  background-color:#D3D3D3;
}

.container.odd {
  flex-direction: row-reverse;
}

.box-grande,
.box-piccola {
  height: 400px; /* debug */
}

.box-grande{
  background-color: #1F8FFB; /* debug */
  flex-grow: 2;
}

.box-piccola{
  background-color: #F6BFCB; /* debug */
  flex-grow: 1;
}

.cta-box {
  background-color: #418B24;  /* debug */
  height: 700px; /* debug */
  flex-grow: 1;
}

/* footer  */

footer {
  background-color: #23272A;

}

.footer-up{
  padding: 20px;
  border-bottom: 1px solid #AFAFAF; /* debug */
  height: 550px; /* debug */
  
}

.footer-box-grande,
.footer-box{
  height: 500px; /* debug */
}

.footer-box-grande{
  background-color: #F6BFCB; /* debug */
  flex-grow: 2;
}

.footer-box{
  background-color:#4DB3AB; /* debug */
  border-color: white; /* debug */
  flex-grow: 1;
}

.footer-bottom {
  padding-top: 20px;
  height: 100px; /* debug */

}

.footer-bottom .container{
  background-color: #7AF6D4; /* debug */
  justify-content: space-between;
  align-items: center;
  height: 70px; /* debug */
}

.footer-bottom .logo,
.footer-bottom .button {
  height: 30px; /* debug */
  width: 70px; /* debug */
  background-color: #F5B5C0; /* debug */
  display: flex;
  justify-content: center;
  align-items: center;
}